@import "/assets_style/var_font";

@mixin head-title{
    position: absolute;
    height: 98px;
    left: 6.4%;
    right: 6.4%;
    top: calc(50% - 98px/2 - 76px);
    
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    }
    
@mixin text-white-card($color){
    position: absolute;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    /* or 178% */
    text-align: center;
    letter-spacing: -0.128571px;
    }