
// COLOURS
$grey-title-white-card-and-names: #24303E;
$grey-text-white-card: #808397;
$grey-text-comment: #5B636D; 

$green-green-card:#24554A;
$blue-blue-card:#052C3B;

$light-grey-details:#A7AAAD;



// FONTS
@mixin font-text {
    font-family: "Barlow", sans-serif;
    font-weight:400;
    text-align: center;
}
@mixin font-title {
    font-family: "Fraunces", serif;
    font-weight: 900;
    text-align: center;
}

$base-font-size: 16px;

// IMAGES
@mixin background-images-text{
    height:37.5rem;
    background-repeat: no-repeat;
    background-position: center;
}

@mixin card{
    padding: 4rem 1.5rem 4rem 1.5rem;  

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (min-width:376px) {


$base-font-size-pc: 60px;

}