@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
body {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  background-color: #FFFCF8;
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  max-width: 100%;
  height: 100vh;
  background-image: url("/assets_pictures/1orange.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Style the navigation menu */
}
header h1 {
  font-size: 2rem;
  line-height: 3.083rem;
  text-align: center;
  letter-spacing: 0.391rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  color: white;
  width: 70%;
  text-transform: uppercase;
  position: absolute;
  top: 13.5rem;
}
header .header-block-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
header .topnav {
  overflow: hidden;
  position: relative;
  width: 84%;
  position: absolute;
  top: 2rem;
  right: 2rem;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* Style the hamburger menu */
  /* Add a grey background color on mouse-over */
  /* Style the active link (or home/logo) */
}
header .topnav #myLinks {
  display: none;
  background-color: #FFFCF8;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}
header .topnav .link-contact {
  background-color: #FBD600;
  color: #24303E;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  width: 50%;
  border-radius: 50px;
  padding-right: 20%;
  padding-left: 20%;
}
header .topnav a {
  color: #A7AAAD;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  justify-self: center;
}
header .topnav .icon {
  height: 7rem;
  width: auto;
  background-image: url("/assets_pictures/menuW.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
header .topnav a:hover {
  background-color: #ddd;
  color: black;
}
header .topnav .active {
  background-color: none;
  opacity: 0;
  color: blue;
}

.content {
  display: flex;
  flex-direction: column;
}
.content .card {
  padding: 4rem 1.5rem 4rem 1.5rem;
  justify-content: space-between;
}
.content h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  font-size: 2rem;
  line-height: 2.438rem;
  letter-spacing: -0.014rem;
}
.content .text-card {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.125rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.875rem;
  letter-spacing: -0.008rem;
}
.content h3 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  font-size: 0.938rem;
  text-transform: uppercase;
  line-height: 1.563rem;
  letter-spacing: 0.063rem;
}

.content-third-el {
  display: flex;
  flex-direction: column;
}
.content-third-el h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  font-size: 1.75rem;
  padding-bottom: 1rem;
}
.content-third-el .card-content {
  text-align: center;
  padding: 98% 10% 0% 10%;
}
.content-third-el .graphic {
  background-image: url("/assets_pictures/4cerise.png");
  color: #24554A;
  height: 37.5rem;
  background-repeat: no-repeat;
  background-position: center;
}
.content-third-el .photography {
  background-image: url("/assets_pictures/5mandarine.png");
  color: #052C3B;
  height: 37.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.client-testimonials {
  padding: 4rem 1.5rem 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.client-testimonials h5 {
  font-family: "Fraunces 9pt Soft";
  font-weight: 900;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: #A7AAAD;
  padding-bottom: 3rem;
}
.client-testimonials .client-photo {
  justify-self: center;
  padding-top: 3rem;
}
.client-testimonials .client-comment {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: -0.008rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #5B636D;
}
.client-testimonials .client-name {
  padding-bottom: 0.56rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  letter-spacing: -0.008rem;
}
.client-testimonials .client-job {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.563rem;
  text-align: center;
  letter-spacing: -0.006rem;
  color: #A7AAAD;
}

.end-picture {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
.end-picture img {
  height: 50%;
  width: 50%;
}

footer {
  background-color: #90D4C6;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}
footer .footer-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}
footer a {
  text-decoration: none;
  color: #24554A;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.563rem;
  letter-spacing: -0.008rem;
}
footer a:hover {
  color: white;
}
footer .footer-social-media {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

@media screen and (min-width: 450px) {
  header .topnav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -1rem;
    right: 5em;
    /* Hide the links inside the navigation menu (except for logo/home) */
    /* Style navigation menu links */
    /* Style the hamburger menu */
    /* Add a grey background color on mouse-over */
    /* Style the active link (or home/logo) */
  }
  header .topnav #myLinks {
    display: flex;
    background: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .topnav .link-contact {
    background-color: white;
    color: #24303E;
  }
  header .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    justify-self: center;
  }
  header .topnav .icon {
    display: none;
  }
  header .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  header .topnav .active {
    display: none;
  }
  .content section {
    display: flex;
    flex-direction: row;
  }
  .content .content-image {
    max-width: 50%;
    min-width: 50%;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .content .content-first-el {
    flex-direction: row-reverse;
  }
  .content .card {
    justify-content: center;
    padding: 15% 10% 15% 10%;
    size: 50%;
  }
  .content h2, .content h3, .content .white-card {
    text-align: left;
  }
  .content .graphic, .content .photography {
    max-width: 50%;
    min-width: 50%;
    background-size: cover;
  }
  .content .card-content {
    width: 21rem;
    padding: 50% 10% 20% 10%;
  }
  .client-testimonials .client-testimonials-box {
    display: flex;
    flex-direction: row;
  }
  .client-testimonials .client {
    flex: 20%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .end-picture {
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 25%;
    size: auto;
    display: flex;
    width: 100%;
    height: auto;
    flex: 1 1 1 1;
  }
  .end-picture img {
    width: 100%;
    height: auto;
  }
  footer {
    padding: 5% 40% 5% 40%;
  }
}/*# sourceMappingURL=sunny-style.css.map */